name: Build Resume

on: push

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install system dependencies
        run: sudo apt-get install -y libpango-1.0-0 libpangoft2-1.0-0 libcairo2 libharfbuzz0b libgdk-pixbuf-2.0-0 fontconfig

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build artifacts
        run: python main.py
        env:
          OUTPUT_MD: readme.md
          OUTPUT_HTML: resume.html
          OUTPUT_PDF: resume.pdf
          OUTPUT_DOCX: resume.docx

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: resume
          path: |
            readme.md
            resume.html
            resume.pdf
            resume.docx

      - name: Upload to release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            readme.md
            resume.html
            resume.pdf
            resume.docx
